/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(134, 10, 10);
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f9c002;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #c0392b;
    padding-bottom: 10px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#bio img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

#bio img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.galeria img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

.galeria iframe {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

#redes {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#redes ul {
    list-style-type: none;
    padding: 0;
}

#redes ul li {
    display: inline;
    margin: 0 15px;
}

#redes ul li a {
    color: #c0392b;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}

#redes ul li a:hover {
    color: #f9c002;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .galeria {
        flex-direction: column;
        align-items: center;
    }
}
